.section-canvas {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 30px;
    background-color: aquamarine;
}

.canvas {
    width: 800px;
    height: 350px;
    border: 1px solid black;
    margin: 20px auto;
}

.entrada_usurario {
    display: flex;
    flex-direction: row;
    width: 600px;
    margin: 10px auto;
    gap: 30px;

}

.entrada_usurario input {
    padding: 15px;
}